<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title><%=title%></title>
</head>
<body>
     <div class="container">
        <div class="row">
            <div class="page-header">
                <h1><%=title%></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-bordered">
            	<thead>
            		<tr>
            			<th>电影名字</th>
            			<th>导演</th>
            			<th>国家</th>
            			<th>上映年份</th>
            			<th>录入时间</th>
            			<th>查看</th>
            			<th>更新</th>
            			<th>删除</th>
            		</tr>
            	</thead>
            	<tbody>
            		<%for(item in moves){%>
            		<tr class="item-id-<%=moves[item]._id%>">
            			<td><%=moves[item].title%></td>
            			<td><%=moves[item].doctor%></td>
            			<td><%=moves[item].country%></td>
            			<td><%=moves[item].year%></td>
            			<td><%=moves[item].time%></td>
            			<td><a href="/movie/<%=moves[item]._id%>" target='_blank'>查看</a></td>
            			<td><a href="/admin/update/<%=moves[item]._id%>" target='_blank'>修改</a></td>
            			<td><a href="/movie/delete">删除</a></td>
            		</tr>
            		<%}%>
            	</tbody>
            </table>
        </div>
    </div>
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</html>